.users{
    display: flex;
   flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
    border: 2px solid black;
}

.user{
    width: 200px;

    border: 1px solid red;
    border-radius: 20px;
    margin: 10px;
    padding: 15px;
}